

<section id="gallery" class="sections">
    <div class="container text-center">

        <div class="heading-content">
            <h3>My Bucketlists</h3>
            <!-- <h5>summarise what your product is all about </h5> -->
        </div>
        <form>
            <div class="col-md-offset-2 col-md-3 form-group">
                <input *ngIf="!edit" name="name" type="text" class="form-control" id=""  placeholder="Enter New Bucketlist Name and Press Enter" (keyup.enter)="addBucketlist()" [(ngModel)]="name">
            </div>
        </form>
        <div class="col-md-3">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input name="search_phrase" [(ngModel)]="search_phrase" type="text" class="form-control input-lg" placeholder="Search Bucketlist" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" (click)="searchBucketlist()" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Example row of columns -->
        <div class="col-md-12 row">
            <div id="editModal" *ngIf="edit">
                <div role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <input name="name" type="text" class="form-control" (keyup.enter)="saveBucketlist()" [(ngModel)]="name">
                            </div>
                            <!-- <div class="form-group">
                            <label for="done">Done</label>
                            <input name="done" default="False" type="checkbox" [(ngModel)]="done">
                        </div> -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="saveBucketlist()">Save</button>
                            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="bucketlists">
            <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let bucketlist of bucketlists| paginate: {itemsPerPage: 5, currentPage:page, id: '1'};">
                <div class="gallery-item">
                    <div class="gallery">
                        <img src="assets/images/gallery/1.png" alt="" />
                        <h6>{{ bucketlist.name }}</h6>

                        <div class="img-overlay"></div>

                        <div class="gallery-icon">
                            <a class="gallery-img" href="bucketlists/{{ bucketlist.id}}">Items Inside</a>

                        </div>
                        <button type="button" class="btn btn-default btn-sm" (click)="editBucketlist(bucketlist.id)">Edit</button>
                        <button type="button" class="btn btn-default btn-sm" (click)="deleteBucketlist(bucketlist.id)">Delete</button>

                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="!bucketlists">
            <h2>You do not have any bucketlists</h2>
        </div>
        <!-- <div *ngIf="!bucketlists">
        <h2>You do not have any bucketlists</h2>
    </div> -->


</div>
<pagination-controls (pageChange)="page = $event" id="1"
maxSize="5"
directionLinks="true"
autoHide="true">
</pagination-controls>
</div> <!-- /container -->
</section>
