<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Bucket List<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> App</span></h1>
        <h3>Do Everything You Always Wanted To Do</h3>
    </div>
    <table>
        <tr>
            <td><div class="col-md-6">
                <button type="button" class="btn btn-default"><a href="/bucketlists">Back to Bucketlists</a></button>
            </div></td>
            <td> <form action="" method="" class="register-form">
                <input name="search" class="new-item" type="text" [(ngModel)]="id" placeholder="Search by Item ID" autofocus>
                <button type="button" class="btn btn-default" (click)="getItem()"> Search Item</button>
            </form></td>
        </tr>

    </table>
    <div class="contact-section">
        <div class="container">
            <div class="col-md-12">
                <!-- <div class="col-md-6"> -->
                <div class="form-line">
                    <div class="form-group">
                        <label for="items">Add New Item</label>
                        <form action="" method="" class="register-form">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Item Name" [(ngModel)]="name">
                            </div>
                            <div class="form-group">
                                <label for="done">Done</label>
                                <input name="done" default="False" type="checkbox" [(ngModel)]="done">
                            </div>
                            <button type="button" class="btn btn-default" (click)="addItems()"> Add Item</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-line" *ngFor="let item of items">
                <div class="media">
                    <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;">
                    <div class="media-body">
                        <h4 class="media-heading">Item ID: {{item.id}}</h4>
                        <h5 class="media-heading">Item Name: {{item.name}}</h5>
                        <h5 class="media-heading">Date Created: {{item.date_created}}</h5>
                        <h5 class="media-heading">Date Modified: {{item.date_modified}}</h5>
                        <h5 class="media-heading">Done: {{item.done}}</h5>
                    </div>

                    <!-- <button type="button" (click) ="editItem()" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Edit</button> -->
                    <!-- <button type="button" (click) ="deleteBucketlist(item.id)" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Delete</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
