<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Bucket List<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> App</span></h1>
        <h3>Do Everything You Always Wanted To Do</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form>
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <label for="login_email">Email</label>
                        <input name="login_email" type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email Address" [(ngModel)]="login_email">
                    </div>
                    <div class="form-group">
                        <label for="login_password">Password</label>
                        <input name="login_password" type="password" class="form-control" id="telephone" placeholder=" Enter password" [(ngModel)]="login_password">
                    </div>
                    <div>
                        <button type="submit" (click) ="loginUser()" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Log In</button>
                    </div>
                </div>

                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <label for="reg_username">Username</label>
                        <input name="reg_username" type="text" class="form-control" id="" placeholder=" Enter Name" [(ngModel)]="reg_username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="reg_email" type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email Address" [(ngModel)]="reg_email">
                    </div>
                    <div class="form-group">
                        <label for="reg_password">Password</label>
                        <input name="reg_password" type="password" class="form-control" id="telephone" placeholder=" Enter password" [(ngModel)]="reg_password">
                    </div>
                    <div>
                        <button type="submit" (click) ="registerUser()" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
